#main {
  height: 100%;
  transition: background-color 300ms linear;
}

#main.sleeping {
  background-color: #ced4da;
}

#main.fetching {
  background-color: #20c997;
}

h1 {
  margin: 0;
  text-transform: uppercase;
}
